@model Voyager.Models.Trip

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout5.cshtml";
}

<h1>Edit</h1>

<h4>Trip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TripId" />
            <div class="form-group">
                <label asp-for="TripName" class="control-label"></label>
                <input asp-for="TripName" class="form-control" required/>
                <span asp-validation-for="TripName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TripDesc" class="control-label"></label>
                <input asp-for="TripDesc" class="form-control" required />
                <span asp-validation-for="TripDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TripUrl" class="control-label"></label>
                <input asp-for="TripUrl" class="form-control" required/>
                <span asp-validation-for="TripUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" required/>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity" class="control-label"></label>
                <input asp-for="Activity" class="form-control" required/>
                <span asp-validation-for="Activity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tag" class="control-label"></label>
                <input asp-for="Tag" class="form-control" required/>
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" required />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" required/>
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" required/>
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

