

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/EasterEgg.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

   
   
</head>
<body>
     <div>
           <div class="wave"></div>
           <div class="wave"></div>
           <div class="wave"></div>
        </div>
    <div class="row col-12 justify-content-center text-center">
        <h1  class="pt-5 text-light">Congratulations you discovered an Easter Egg! <i class="fas fa-egg"></i></h1>
        <p class="display-6 pt-3 text-light">Scan the QR Code Below!</p>
       <div class="egg"></div>
    </div>
</body>
</html>

