@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Just one more step!</h1>
<h5>
    Thank you for confirming your E-mail
   
     <a  class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login" style="text-decoration:blue;font:800;"> Press here to Log In.</a>
   
</h5>
